{% extends 'base.html' %} {% block title %}Home {% endblock title %} {% block body %}
<style>
    @media (min-width: 992px) {
        #form {
            display: flex;
            flex-basis: auto;
            justify-content: flex-end;
        }
    }
    
    body,
    html {
        background-image: url("/static/image/background1.jpg");
        height: 120%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<!--form-->
<div class="container py-4 d-inline">

    <div class="col-lg-offset-12 col-lg-4  d-inline-block">
        <div class="panel panel-default">
            <div class="panel-body">
                <form method="post" action="/amount">
                    {% csrf_token %}

                    <div class="form-group">
                        <strong><label for="exampleFormControlInput1">From:</label></strong>
                        <input name="name" type="input" class="form-control" id="exampleFormControlInput1" placeholder="Your Name">
                    </div>
                    <div class="form-group ">

                        <input name="contact" type="input" class="form-control" id="exampleFormControlInput2" placeholder="Your Contact NO.">
                    </div>
                    <div class="form-group ">

                        <input name="p_address" type="input" class="form-control" id="exampleFormControlInput3" placeholder="Pickup Address">

                    </div>
                    <div class="form-group">
                        <input name="pincode" type="input" class="form-control" id="exampleFormControlInput4" placeholder="Pincode">

                    </div>

                    <select class="form-control mb-3" name="p_type" type="input">
			<option selected="" > Product Type</option>
			<option>Kitchen Supply</option>
			<option>Food</option>
			<option>Gift</option>
      <option>Cloths</option>
      <option>Books & notes</option>
      <option>Groccery</option>
		</select>


                    <div class="form-group">
                        <input name="weight" type="input" class="form-control" id="exampleFormControlInput5" placeholder="Total Weight in grams">

                    </div>
                    <div class="form-group">

                        <textarea class="form-control" type="input" id="desc" name="desc" placeholder="Detail of Product" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <input class="form-control-fluid" type="input" id="exampleFormControlInput6" name="p_time" placeholder="Pickup Time">
                        <select class="form-control-fluid mb-3 " name="time">
			<option selected="">Select time AM / PM </option>
			<option>AM</option>
			<option>PM</option>

		</select>

                    </div>

                    <div class="form-group">
                        <strong><label for="exampleFormControlInput7">To:</label></strong>
                        <input class="form-control" name="r_name" type="input" id="exampleFormControlInput8" placeholder="Reciver's Name">
                    </div>
                    <div class="form-group ">


                        <input name="r_contact" class="form-control" type="input" id="exampleFormControlInput8" placeholder="Reciver Contact NO.">
                    </div>
                    <div class="form-group ">

                        <input name="d_address" class="form-control" type="input" id="exampleFormControlInput9" placeholder="Delivery Address">

                    </div>
                    <div class="form-group">
                        <input name="d_pincode" class="form-control" type="input" id="exampleFormControlInput10" placeholder="Delivery Pincode">

                    </div>
                    <button type="submit" class="btn btn-primary">Continue</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--form-->

{% endblock body %} {% block active %} active {% endblock active %}